@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}

:root {
  --radius: 0.625rem;
  /* --background: #f5f5f5; */
  --background: #fafafa;
  --foreground: #1f2937;
  --card: #ffffff;
  --card-foreground: #1f2937;
  --popover: #ffffff;
  --popover-foreground: #1f2937;
  /* primary color */
  --primary: #901b20;
  /* --primary: #b71c1c; */
  --primary-foreground: #ffffff;
  /* secondary color */
  --secondary: #4b5563;
  --secondary-foreground: #ffffff;
  /* text */
  --muted: #f5f5f5;
  --muted-foreground: #6b7280;
  /* ********* */
  --accent: #4b5563;
  --accent-foreground: #ffffff;
  --destructive: #901b20;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #901b20;
  --chart-1: #f59e0b;
  --chart-2: #10b981;
  --chart-3: #3b82f6;
  --chart-4: #8b5cf6;
  --chart-5: #ec4899;
  --sidebar: #f5f5f5;
  --sidebar-foreground: #1f2937;
  --sidebar-primary: #901b20;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #4b5563;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #e5e7eb;
  --sidebar-ring: #901b20;
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  /* primary color */
  --primary: #901b20;
  --primary-foreground: #ffffff;
  /* secondary color */
  --secondary: #6b7280;
  --secondary-foreground: #ffffff;
  /* text */
  --muted: oklch(0.216 0.006 56.043);
  --muted-foreground: oklch(0.647 0.004 106.423);
  /* ********* */
  --accent: #6b7280;
  --accent-foreground: #ffffff;
  --destructive: #901b20;
  --destructive-foreground: #ffffff;
  --border: oklch(0.216 0.006 56.043);
  --input: oklch(0.216 0.006 56.043);
  --ring: #901b20;
  --chart-1: #f59e0b;
  --chart-2: #10b981;
  --chart-3: #3b82f6;
  --chart-4: #8b5cf6;
  --chart-5: #ec4899;
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: #901b20;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #6b7280;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: oklch(0.216 0.006 56.043);
  --sidebar-ring: #901b20;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .debug-screens::before {
    @apply fixed bottom-0 left-0 z-50 m-8 rounded bg-black px-3 py-1 text-white text-xs font-mono;
    content: "xs";
  }

  @screen sm {
    .debug-screens::before {
      content: "sm";
    }
  }

  @screen md {
    .debug-screens::before {
      content: "md";
    }
  }

  @screen lg {
    .debug-screens::before {
      content: "lg";
    }
  }

  @screen xl {
    .debug-screens::before {
      content: "xl";
    }
  }

  @screen 2xl {
    .debug-screens::before {
      content: "2xl";
    }
  }
}
